/* Styling input section  */
.inputMain {
  display: flex;
  flex-direction: column;
}
.inputMain > label {
  font-size: 14px;
  color: rgb(59, 59, 59);
  font-family: "sora", sans-serif;
  font-weight: 400;

  height: 18pt;
  padding-left: 17px;
}
.inputsection {
  border-radius: 30pt;
  border: 1px solid rgb(222, 222, 222);
  outline: none;
  height: 38px;
  padding: 0px 20px;
  font-family: "Sora", sans-serif;
  color: rgb(59, 59, 59);
}
.inputError {
  border-color: rgb(183, 65, 0);
}

/* Button section */
.btnLogin {
  width: 100%;
  background-color: rgb(255, 192, 69);
  box-shadow: none;
  border-radius: 30pt;
  border: none;
  height: 50px;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  text-transform: none;
  font-size: 14px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.btnLogin:hover {
  background-color: rgb(251, 178, 34);
  box-shadow: none;
}

/* Sneakbar Styling */
.sneakBar {
  position: fixed;

  top: 4%;
  right: 0.2%;
  display: flex;
  align-items: center;
  background-color: rgb(230, 230, 230);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px 30px 5px 10px;
  column-gap: 10px;
  animation: slideInFromRight 1s ease-in-out;
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(90%);
    opacity: 0;
    overflow: hidden;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    overflow: hidden;
  }
}
.sneakBarHidden {
  animation: slideInFromLeft 1s ease-in-out;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.sneakBar > p {
  color: rgb(183, 65, 0);
  font-family: "Sora", sans-serif;
  font-size: 11pt;
  font-weight: 400;
}
.iconWarning {
  width: 23px;
  height: 24px;
}
.iconCancel {
  width: 11px;
  height: 11px;
  margin-left: 8px;
  cursor: pointer;
  transform: rotate(45deg);
}
@media (max-width: 480px) {
  .sneakBar {
    padding: 5px 15px 5px 5px;
    column-gap: 5px;
    top: 19%;
  }

  .sneakBar > p {
    font-size: 9pt;
  }
  .iconWarning {
    width: 20px;
    height: 20px;
  }
  .iconCancel {
    width: 10px;
    height: 10px;
    margin-left: 5px;
  }
  .inputMain > label {
    font-size: 13px;
  }
  .inputsection {
    height: 35px;
  }
  .btnLogin {
    height: 40px;
    font-size: 13px;
  }
}
@media (max-width: 390px) {
  .inputMain > label {
    font-size: 12px;
  }
  .inputsection {
    height: 33px;
  }
  .btnLogin {
    height: 38px;
    font-size: 12px;
  }
}

/* Eelements styling for 780 min height */
@media (min-height: 665px) {
  .btnLogin {
    margin-top: 30px;
  }
}
