/* Styling input section  */
.inputMain {
  display: flex;
  flex-direction: column;
}
.inputMain > label {
  font-size: 14px;
  color: rgb(59, 59, 59);
  font-family: "sora", sans-serif;
  font-weight: 400;
  width: 133pt;
  height: 18pt;
  padding-left: 17px;
}
.inputsection {
  border-radius: 30pt;
  border: 1px solid rgb(222, 222, 222);
  outline: none;
  height: 38px;
  padding: 0px 20px;
  font-family: "Sora", sans-serif;
  color: rgb(59, 59, 59);
}
.inputError {
  border-color: rgb(183, 65, 0);
}

/* Button section */
.btnLogin {
  width: 100%;
  background-color: rgb(255, 192, 69);
  box-shadow: none;
  border-radius: 30pt;
  border: none;
  height: 50px;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  text-transform: none;
  font-size: 14px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.btnLogin:hover {
  background-color: rgb(251, 178, 34);
  box-shadow: none;
}

@media (max-width: 480px) {
  .inputMain > label {
    font-size: 13px;
  }
  .inputsection {
    height: 35px;
  }
  .btnLogin {
    height: 40px;
    font-size: 13px;
  }
}
@media (max-width: 390px) {
  .inputMain > label {
    font-size: 12px;
  }
  .inputsection {
    height: 33px;
  }
  .btnLogin {
    height: 38px;
    font-size: 12px;
  }
}
