/* Login page styling */
.container {
  height: 100vh;
  background: rgb(239, 232, 201);
  background: linear-gradient(
    128deg,
    rgba(239, 232, 201, 1) 14%,
    rgba(214, 232, 232, 1) 38%,
    rgba(211, 230, 235, 1) 69%,
    rgba(223, 236, 224, 1) 86%
  );
}
.boxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15pt 0 30pt 0;
  width: 505px;
}
.logoIcon {
  margin-left: -7px;
}
.languageChange {
  display: flex;
  column-gap: 12px;
  align-items: center;
  color: rgb(85, 155, 180);
  font-family: "Sora", sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.languageChange > div {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.languageChange > p {
  font-size: 14pt;
}
.iconArrow {
  width: 12.8pt;
  height: 6.7px;
  cursor: pointer;
}
.loginBox {
  background-color: rgb(255, 255, 255);
  width: 431px;
  min-height: 234px;
  padding: 30px 35px 40px 35px;
  border-radius: 20px;
  opacity: 95%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.loginBox > p {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  size-adjust: 600;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.loginContainer > p {
  font-size: 10px;
  color: rgb(183, 65, 0);
  margin-top: -15px;
  margin-left: 17px;
}

/* Form section */

.rememberForget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12pt;
  color: rgb(112, 112, 112);
  font-family: "Sora", sans-serif;
  padding: 18px 0px;
}
.rememberForget > p {
  font-size: 10pt;
  cursor: pointer;
}
.remember {
  font-size: 10pt;
  margin-left: -3px;
}
.Checkbox {
  border-radius: 10px;
  color: rgb(85, 155, 180);
}

/* Styles for screens 480px wide or less */
@media (max-width: 480px) {
  .headSection {
    max-width: 380px;
  }
  .loginBox {
    max-width: 350px;
    padding: 30px 19px 30px 19.5px;
    row-gap: 18px;
  }
  .loginBox > p {
    font-size: 15px;
  }
  .loginContainer {
    row-gap: 22px;
  }
  .rememberForget {
    font-size: 11pt;
    padding: 15px 0px;
  }
  .remember {
    font-size: 10pt;
  }
}
/* Styles for screens 390px wide or less */
@media (max-width: 392px) {
  .headSection {
    max-width: 350px;
  }
  .languageChange > p {
    font-size: 12pt;
  }
  .loginBox {
    max-width: 320px;
    padding: 30px 19px 30px 19.5px;
    row-gap: 18px;
  }
  .loginBox > p {
    font-size: 15px;
  }
  .loginContainer {
    row-gap: 22px;
  }
  .rememberForget {
    font-size: 11pt;
    padding: 15px 0px;
  }
  .remember {
    font-size: 10pt;
  }
  .logoIcon {
    width: 160px;
    height: 83px;
  }
}
/* Styles for screens 360px wide or less */
@media (max-width: 361px) {
  .headSection {
    max-width: 325px;
  }
  .languageChange > p {
    font-size: 12pt;
  }
  .loginBox {
    max-width: 300px;
    padding: 30px 15px 30px 15.5px;
    row-gap: 18px;
  }
  .loginBox > p {
    font-size: 15px;
  }
  .loginContainer {
    row-gap: 22px;
  }
  .rememberForget {
    padding: 15px 0px;
  }
  .rememberForget > p {
    font-size: 9pt;
  }
  .remember {
    font-size: 9pt;
  }
  .logoIcon {
    width: 160px;
    height: 83px;
  }
}
