/* Login page styling */
.container {
  height: 100vh;
  background: rgb(242, 238, 222);
  background: linear-gradient(
    148deg,
    rgba(242, 238, 222, 1) 8%,
    rgba(240, 233, 206, 1) 19%,
    rgba(225, 233, 228, 1) 28%,
    rgba(221, 233, 236, 1) 68%,
    rgba(226, 237, 225, 1) 80%,
    rgba(234, 240, 233, 1) 93%
  );
  overflow-x: hidden;
}
.boxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15pt 0 30pt 0;
  width: 505px;
}
.logoIcon {
  margin-left: -7px;
}
.languageChange {
  display: flex;
  column-gap: 12px;
  align-items: center;
  color: rgb(85, 155, 180);
  font-family: "Sora", sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.languageChange > div {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.languageChange > p {
  font-size: 14pt;
}
.menuLogin {
  margin-top: 7px;
  vertical-align: top;
  position: relative;
  margin-right: -25px;
}
.iconArrow {
  width: 12.8pt;
  height: 6.7px;
  cursor: pointer;
}
.rotate {
  transform: rotate(180deg);
}
.loginBox {
  background-color: rgb(255, 255, 255);
  width: 431px;
  min-height: 234px;
  padding: 30px 35px 40px 35px;
  border-radius: 20px;
  opacity: 95%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.loginBox > p {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  size-adjust: 600;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.sneackBar {
  background-color: #e7e9e7;
  color: #c5764a;
}
.loginContainer > p {
  font-size: 10px;
  color: rgb(183, 65, 0);
  margin-top: -15px;
  margin-left: 17px;
}

/* Form section */

.rememberForget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12pt;
  color: rgb(112, 112, 112);
  font-family: "Sora", sans-serif;
  padding: 18px 0px;
}
.rememberForget > p {
  font-size: 10pt;
  cursor: pointer;
}
.remember {
  font-size: 10pt;
  margin-left: -3px;
}
.Checkbox {
  border-radius: 10px;
  color: rgb(85, 155, 180);
}

/* Styles for screens 480px wide or less */
@media (max-width: 480px) {
  .container {
    background: rgb(244, 243, 232);
    background: linear-gradient(
      87deg,
      rgba(244, 243, 232, 1) 15%,
      rgba(241, 238, 220, 1) 30%,
      rgba(241, 238, 225, 1) 45%,
      rgba(240, 238, 223, 1) 60%,
      rgba(242, 242, 232, 1) 75%,
      rgba(245, 244, 237, 1) 90%
    );
    overflow-x: hidden;
    overflow: hidden;
  }
  .headSection {
    max-width: 380px;
    height: 20%;
    justify-content: center;
    padding: 40px 0;
  }
  .languageChange {
    position: fixed;
    bottom: 5%;
    margin: auto;
    justify-content: center;
    z-index: 5;
    border-top: 1px solid rgb(222, 222, 222);
    padding-top: 40px;
    width: 80%;
  }
  .loginBox {
    width: 90%;
    background: rgb(255, 252, 238);
    background: linear-gradient(
      195deg,
      rgba(255, 252, 238, 1) 8%,
      rgba(255, 253, 243, 1) 16%,
      rgba(254, 254, 249, 1) 25%,
      rgba(251, 254, 248, 1) 34%,
      rgba(252, 254, 251, 1) 49%,
      rgba(249, 253, 252, 1) 63%,
      rgba(246, 252, 254, 1) 77%,
      rgba(244, 251, 253, 1) 87%
    );
    padding: 50px 66px 50px 66.5px;
    row-gap: 40px;
    opacity: 75%;
    border-radius: 0px !important;
    height: 69vh;
    border-bottom: 1px solid rgb(222, 222, 222);
  }
  .loginBox > p {
    font-size: 18px;
  }
  .loginContainer {
    row-gap: 32px;
  }
  .rememberForget {
    font-size: 11pt;
    padding: 15px 0px;
  }
  .remember {
    font-size: 10pt;
  }
}
/* Styles for screens 390px wide or less */
@media (max-width: 392px) {
  .headSection {
    height: 20%;
    justify-content: center;
    padding: 40px 0;
  }
  .languageChange > p {
    font-size: 12pt;
  }

  .loginBox {
    width: 90%;

    padding: 50px 40px 50px 40.5px;
    row-gap: 40px;
    opacity: 75%;
    border-radius: 0px !important;
    height: 69vh;
    border-bottom: 1px solid rgb(222, 222, 222);
  }
  .loginBox > p {
    font-size: 18px;
  }
  .loginContainer {
    row-gap: 42px;
  }
  .rememberForget {
    font-size: 11pt;
    padding: 15px 0px;
  }
  .remember {
    font-size: 10pt;
  }
  .logoIcon {
    width: 160px;
    height: 83px;
  }
}
/* Styles for screens 360px wide or less */
@media (max-width: 361px) {
  .headSection {
    max-width: 325px;
  }
  .languageChange > p {
    font-size: 12pt;
  }
  .loginBox {
    width: 90%;
    padding: 30px 15px 30px 15.5px;
    row-gap: 18px;
  }
  .loginBox > p {
    font-size: 18px;
  }
  .loginContainer {
    row-gap: 22px;
  }
  .rememberForget {
    padding: 15px 0px;
  }
  .rememberForget > p {
    font-size: 9pt;
  }
  .remember {
    font-size: 9pt;
  }
  .logoIcon {
    width: 160px;
    height: 83px;
  }
}

/* Styles for screens 667 highet or less */
@media (min-height: 780px) and (max-width: 414px) {
  .headSection {
    max-width: 325px;
    padding: 55px 0;
  }
  .languageChange > p {
    font-size: 12pt;
  }
  .loginBox {
    width: 90%;
    padding: 45px 15px 35px 15.5px;
    row-gap: 25px;
  }
  .loginBox > p {
    font-size: 19px;
  }
  .loginContainer {
    row-gap: 25px;
  }
  .rememberForget > p {
    font-size: 9pt;
  }
  .remember {
    font-size: 9pt;
  }
  .logoIcon {
    width: 160px;
    height: 83px;
  }
  .languageChange {
    bottom: 5%;
  }
}
/* Styles for screens 667 highet or less */
@media (min-height: 667px) and (max-width: 414px) {
  .headSection {
    max-width: 325px;
    padding: 45px 0;
  }
  .languageChange > p {
    font-size: 12pt;
  }
  .loginBox {
    width: 93%;
    padding: 45px 15px 35px 15.5px;
    row-gap: 25px;
  }
  .loginBox > p {
    font-size: 19px;
  }
  .loginContainer {
    row-gap: 20px;
  }
  .rememberForget > p {
    font-size: 9pt;
  }
  .remember {
    font-size: 9pt;
  }
  .logoIcon {
    width: 160px;
    height: 83px;
  }
  .languageChange {
    bottom: 5%;
  }
}

/* Styles for screens 667 highet or less */
@media (max-height: 670px) and (max-width: 414px) {
  .headSection {
    max-width: 325px;
    padding: 33px 0;
  }
  .languageChange > p {
    font-size: 12pt;
  }
  .loginBox {
    width: 90%;
    padding: 30px 15px 30px 15.5px;
    row-gap: 19px;
  }
  .loginBox > p {
    font-size: 18px;
  }
  .loginContainer {
    row-gap: 18px;
  }
  .rememberForget {
    padding: 15px 0px;
  }
  .rememberForget > p {
    font-size: 9pt;
  }
  .remember {
    font-size: 9pt;
  }
  .logoIcon {
    width: 160px;
    height: 83px;
  }
  .languageChange {
    bottom: 5%;
  }
}

@media (max-height: 554px) {
  .languageChange {
    opacity: 0;
  }
}
